<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h2>Angular</h2>
<div class="card text-bg-primary mb-3" style="max-width: 40rem;">
    <div class="card-header">Instalación</div>
    <div class="card-body">
      <h5 class="card-title">Angular y CLI</h5>
      <p class="card-text">Primero ingresamos al sitio de NodeJS para instalarlo, el botón contiene el link.</p>
      <a href="https://nodejs.org/en/download" class="btn btn-success">Link NodeJS</a>
      <p class="card-text">Luego en la terminal utilizaresmos el comando <strong>npm install -g @angular/cli</strong> para instalar angular cli.</p>
    </div>
  </div>

  <div class="card text-bg-secondary mb-3" style="max-width: 40rem;">
    <div class="card-header">Creación de componentes</div>
    <div class="card-body">
      <p class="card-text">Una vez creado nuestro proyecto crearemos componentes con el comando <strong> ng generate
        component "nombre del componente"</strong> de este modo se generan una serie de archivos que le corresponden.</p>
    </div>
  </div>
  <div class="card text-bg-info mb-3" style="max-width: 40rem;">
    <div class="card-header">Comandos básicos</div>
    <div class="card-body">
      <h5 class="card-title">ng new "nombre-del-proyecto</h5>
      <p class="card-text">Con este comando generamos un proyecto nuevo con el framework.</p>
      <h5 class="card-title">ng serve --open</h5>
      <p class="card-text">De este modo podemos ejecutar nuestro script para visualizarlo en un navegador.</p>
      <h5 class="card-title">npm audt fix</h5>
      <p class="card-text">Este es un comando de node que pemirte revisar las vulnerabilidades reportadas en las dependecias del proyecto e intenta solucionarlas.</p>
      <h5 class="card-title">ng help</h5>
      <p class="card-text">Es un comando de ayuda para ver los comandos disponibles.</p>
    </div>
  </div>
  <div class="card text-bg-warning mb-3" style="max-width: 40rem;">
    <div class="card-header">Angular</div>
    <div class="card-body">
      <p class="card-text">Angular es un framework para desarrollo web. Se utiliza para la creación de aplicaciones web de una sola página (SPA) y aplicaciones web dinámicas, usandoo TypeScript como lenguaje principal.</p>
    </div>
  </div>
 

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
  </html>