<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h2>Terminales</h2>
<h4> Las terminales son las interfaces de líneas de comando, donde se ejecutan para interactuar con el sistema.</h4>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Terminal de Windows</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Terminal de Ubuntu/Linux</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
                <p class="card-text"><strong>dir</strong> : Mostrar archivos de un directorio.</p>
                <p class="card-text"><strong>cd</strong> : Cambiar directorio.</p>
                <p class="card-text"><strong>del</strong> : Eliminar archivos.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <p class="card-text"><strong>ls</strong> : Cambiar directorio.</p>
                <p class="card-text"><strong>cd</strong> : Cambiar directorio.</p>
                <p class="card-text"><strong>rm</strong> : Eliminar archivos.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
                <p class="card-text"><strong>tasklist</strong> : Muestra la lista de procesos.</p>
                <p class="card-text"><strong>taskkill</strong> : Finaliza un proceso.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <p class="card-text"><strong>ps</strong> : Muestra la lista de procesos.</p>
                <p class="card-text"><strong>kill</strong> : Finaliza un proceso.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
                <p class="card-text"><strong>net user</strong> : Gestiona usuarios.</p>
                <p class="card-text"><strong>taskkill</strong> : Gestiona permisos de archivos y directorios.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <p class="card-text"><strong>adduser</strong> : Gestiona usuarios.</p>
                <p class="card-text"><strong>chmod</strong> : Gestiona permisos de archivos y directorios.</p>
            </div>
          </div>
        </div>
      </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>